body {
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    background-color: rgb(5, 71, 71);
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.otazka {
    color: rgb(21, 67, 88);
    background-color: #ddd;
    padding: 1em;
    font-size: 1.2em;
    margin: 1em 0;
}

.odpoved {
    border-left: 10px solid #aaa;
    padding-left: 20px;
}

table, td, th {
    border-width: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px 50px;
}

th {
    background-color: darkslategray;
    color: rgb(238, 238, 238);
}

.error {
    background-color: rgb(173, 16, 16);
    color: rgb(238, 238, 238);
}

caption {
    font-size: 1.2em;
    background-color: rgb(48, 31, 109);
    color: #eee;
    padding: 10px;
}

ol#search {
    list-style-type: upper-roman;
}

ol#search ul {
    list-style-type: square;
}