body {
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    background-color: rgb(5, 71, 71);
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    width: 1200px;
    margin: 0 auto;
}